<table class="table">
	<tr>
		<th><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></th>
	</tr>
	<tr>
		<th>name</th>
		<th><%=user.name%></th>
	</tr>
    <tr>
        <th>introduction</th>
    	<th><%=user.introduction%></th>
    </tr>
	<tr>
		<th>
			<% if current_user == user %>
				<%=link_to "" ,edit_user_path(user) , class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}"%>
		    <% end %>
		</th>
		<th></th>
    </tr>
</table>